{% extends 'base.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div align="center">
        <h1>Registration Complete</h1>
        <p>Username: {{ data.username }}</p>
        <p>Password: {{ data.password }}</p>
        <p>Email: {{ data.email }}</p>
        <p>Full Name: {{ data.first_name }} {{ data.last_name }}</p>
        <p>A confirmation e-mail has been sent.
            Complete your registration by clicking the
            activation link enclosed in the e-mail.</p>

        <div id="footer">
            <a href="/mainsite/login/">Login</a>
        </div>
    </div>
{% endblock %}