{% extends 'base.html' %}

{% block content %}
<div id="header" align="center">
	<!--<p>{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}</p>
	<img src="{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}">-->
    <div class="page-header" ><h2>{{ user.first_name }} {{ user.last_name }}</h2></div>
</div>

<div id="userinfo" align="center">
    <p>@{{ user.username }}</p>
    <p>Description: {{ user.user_profile.user_description }}</p>
    <p>School: {{ user.user_profile.school }}</p>
    <p>Time Joined: {{ user.user_profile.timejoined|date:"M Y" }}</p>
</div>


<div id="footer" align="center">
	{% if user == logged_in_user %}
    	<a href="/mainsite/messageboard/userprofile/{{ user.id }}/edit" class="btn btn-default">Edit your profile</a><br>
    {% endif %}
	<a href="/mainsite/messageboard/" class="btn btn-default">Back</a>
</div>
{% endblock %}