<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create a topic</title>
</head>
<body>

<div id="title" align="center">
    <p>Create some choices</p>
</div>

<div id="choice1" align="center">
    <form action= "" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> <input type="SUBMIT" value="Next"></p>
    </form>
</div>

<div id="choice2" align="center">
    <form action= "" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> <input type="SUBMIT" value="Next"></p>
    </form>
</div>

<div id="choice3" align="center">
    <form action= "" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> <input type="SUBMIT" value="Next"></p>
    </form>
</div>


</body>
</html>
