{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Direct Message view</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/directmessageview.css'%}"/>
</head>

<body>

    <div id="header" align="center">
        <div class="page-header" >
            <h2>
                {% if user == conversation.recipient %}
                    Conversation with {{ conversation.recipient2 }}
                {% else %}
                    Conversation with {{ conversation.recipient }}
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="messageBox" align="center">
        {% for msg in messages %}
        {% if user == msg.creator %}
        <div class="mymessage" align="left">
        {% else %}
        <div class="othermessage" align="left">
        {% endif %}
            <p>
                <b>{{ msg.creator }}:</b>
                <font size='1' color='light-blue'>{{ msg.pub_date }}</font>
                <br/>{{ msg.message_content }}   
            </p>       
        </div>
        {% empty %}
            <p> No messages to display </p>
        {% endfor %}
    </div>

    <div id="textbox" align="center">
        <form action= "" method="post">
            {% csrf_token %}
            <textarea style="resize:none" cols="40" id="new_message_content" name="message_content" rows="3"></textarea>
            <p> 
                <input type="SUBMIT" value="Post" class="btn btn-default"/>
            </p>
        </form>
    </div>
</body>

</html>
{% endblock %}