{% extends 'base.html' %}

{% block content %}
<div id="header" align="center">
    <!--<p>{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}</p>
    <img src="{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}">-->
    <div class="page-header" ><h2>Direct Messages</h2></div>
</div>
<body>
    <div class="page">
        <div class="allTopics" align="center">
            {% for convo in conversations %}
                <div>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h3>
                        {{ convo.recipient }}
                    </h3>
                    <a href="/mainsite/messageboard/directmessages/{{ convo.id }}">
                        <button type="button" class="btn btn-default">View Convo</button>
                    </a>
                </div>
                <br>
            {% empty %}
                <p> No direct messages to display </p>
            {% endfor %}
        </div>
    </div>
<div id="footer" align="center">
    <a href="/mainsite/messageboard/directmessages/createnew">Create a new chat</a><br>
	<a href="/mainsite/messageboard/">Back</a>
</div>

</body>
</html>

{% endblock %}
