{% extends 'base.html' %}

{% block content %}

<div id="header" align="center">
    <div class="page-header" ><h2>Conversation with {{ conversation.recipient }}</h2></div>
</div>


<div id="messages" align="center">
    {% for msg in messages %}
        <p>{{ msg.message_content }}</p>
    {% empty %}
        <p> No messages to display </p>
	{% endfor %}
</div>

<div id="textbox" align="center">
    <form action= "" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p> <input type="SUBMIT" value="Post"></p>
    </form>
</div>

{% endblock %}