<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create a topic</title>
</head>
<body>

<div id="title" align="center">
    <p>Create a topic with a poll</p>
</div>

<div id="name" align="center">
    <form id="{{ msg.id }}" action="" method="post" style="display:none">    
        {% csrf_token %}
        <p>
            <textarea cols="40" id="question_text" name="question_text" rows="1">{{p.question_text}}</textarea>
        </p>
        <p>
            <input type="SUBMIT" name="save" value="save">
        </p>
    </form>
</div>

</body>
</html>
