{% extends 'base.html' %}

{% block content %}

{% load bootstrap_themes %}
{% bootstrap_styles theme='lumen' type='css' %}
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/topic.css'%}"/>
    <div id="header" align="center">
        <div class="page-header" ><h2>{{ topic.topic_name }}</h2></div>
    </div>
</head>
<body>
    <script type="text/javascript">
        function hideorshow(obj) {
            if (document.getElementById(obj).style.display == 'none') {
                document.getElementById(obj).style.display='block';
            } else {
                document.getElementById(obj).style.display = 'none';
            }
        }
    </script>
    <div id="tags" align="center">
        <p>
            Tags:
            {% for tag in tags %}
                {{ tag }}
            {% endfor %}
            {% if topic.creator.username == user.username %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="tag_name">
                    <input type="submit" name="add_tag" value="Add Tag" class="btn btn-default">
                    <input type="submit" name="remove_tag" value="Remove Tag" class="btn btn-default">
                </form>
            {% endif %}
            <p>{{ tag_error }}</p>
        </p>
    </div>
    <div id="messages" align="center">
        {% for msg in messages %}
            <div class="message">
                <div class="header" align="left">
                    <div class="leftheader">
                        <p><a href="{% url 'mainsite:userprofile' msg.creator.id %}" style="color: black;">
                        {{msg.creator}}</a> @ <font size='1' color='grey'>{{msg.pub_date|date:"M. d, g:i a"}}</font></p>
                    </div>
                    <div class="rightheader">
                    {% if msg.creator.username == user.username %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="HIDDEN" name="msgID" value="{{ msg.id }}">
                            <input type="SUBMIT" name="REMOVE" value="Remove">
                            <input type="button" value="Edit" onClick="hideorshow({{ msg.id }})">
                        </form>
                    {% endif %}
                    </div>
                </div>
                <div class="content" align="left">
                    <span>{{msg.message_content}}</span>
                </div>              
                <div class="edit" align="centre">
                    {% if msg.creator.username == user.username %}
                        <form id="{{ msg.id }}" action="" method="post" style="display:none">
                            {% csrf_token %}
                            <p>
                                <input type="HIDDEN" name="msgID" value="{{ msg.id }}">
                            </p>
                            <p>
                                <textarea cols="40" id="message_content" name="message_content" rows="3">{{msg.message_content}}</textarea>
                            </p>
                            <p>
                                <input type="SUBMIT" name="save" value="Save">
                            </p>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p> No messages to display </p>
        {% endfor %}
    </div>
    <div id="textbox" align="center">
        <form id="new_message" action= "" method="post">
            {% csrf_token %}
            <textarea style="resize:none" cols="40" id="new_message_content" name="message_content" rows="3"></textarea>
            <p> <input type="SUBMIT" name="POST" value="Post" class="btn btn-default"></p>
        </form>
    </div>

    <div id="subscribe" align="center">
        <a href="subscribe" class="btn btn-default">Subscribe to this topic</a>
    </div>
    </br>
</body>
</html>
{% endblock %}