{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}

<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/mainsite/messageboard/" class="navbar-brand">Message Board</a>
    </div>

    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'mainsite:userprofile' user.id %}">Profile</a></li>
                <li><a href="{% url 'mainsite:view_invites' user.id %}">Invites</a></li>
                <li><a href="{% url 'mainsite:subscribed_topics' %}">Subscribed Topics</a></li>
                <li><a href="{% url 'mainsite:joined_groups' %}">Joined Groups</a></li>
                <li><a href="{% url 'mainsite:viewdirectmessages' %}">Direct Messages</a><li>
                <li class="divider"></li>
                <li><a href="{% url 'mainsite:logout_view' %}">Logout</a></li>
              </ul>
            </li>
            <li><a href="{% url 'mainsite:join_group' %}">Join a Group</a></li>
            <li><a href="{% url 'mainsite:create_group' %}">Create a Group</a></li>
            <li><a href="{% url 'mainsite:create_topic' %}">Create a Topic</a></li>
        </ul>
        <!-- filter -->
        <form action="" method="POST" class="navbar-form navbar-right" role="search" style="padding-right: 20px;">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="tag_name" class="form-control" placeholder="Search Tags">
            </div>
            <button type="submit" name="POST_filter" value="Filter" class="btn btn-default">Submit</button>
            <input type="submit" value="Clear Filter" class="btn btn-default"/>
        </form>
        
        

    </div>
</nav>

<div class="container">
    {% block content %}(no content){% endblock %}
</div>

{% endblock %}
