
{% extends 'base.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/index.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/animations.css'%}" />
    
    <div class="product-header pullUp" align="center">
        <img id="logo" class="floating" src="{% static 'mainsite/images/logo.png'%}" />
        <h1>Bring some ideas together.</h1>
    </div>
    
    <div class="links" align="center">
        <h2><a href="/mainsite/login/">Login</a></h2>
        <h2><a href="/mainsite/registration/">Register</a></h2>
    </div>
{% endblock %}