<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>MessageBoard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/msgboard.css'%}"/>
</head>
<body>
<div class="header" align="center">
    <h2>Message Board</h2>
</div>
<div class="navBar" align="left">
    <ul>
    <li><a href="creategroup">Create a Group</a></li>
    <li><a href="joinedgroups">My Joined Groups</a></li>
    <li><a href="joingroup">Join a Group</a></li>
    <li><a href="create">Create a Topic</a></li>
    <li><a href="subscriptions">My Subscribed Topics</a></li>
	<li><a href="/mainsite/messageboard/myview/">Table View of Topics</a></li>
    </ul>
</div>

<div class="topics" align="center">
    {% for topic in topics %}
        <p>
            <a href="{{ topic.id }}">{{ topic.topic_name }}</a>
        </p>
    {% empty %}
        <p> No topics to display </p>
    {% endfor %}
</div>
<div class="logout" align="center">
	<p><a href="/mainsite/logout/">Logout</a></p>
</div>
<div class="tablelistview" align="center">
</div>

</body>
</html>
