<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{{ "Table List View" }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/myview.css'%}"/>
</head>
<body>
    <div class="page">
        <div class="allTopics" align="center">
            {% for topic in topics %}
                <div class="topicBox">
                    <div class="title">
                        <p>
                            <a href="/mainsite/messageboard/{{ topic.id }}">
                                <font size="10" color="grey">{{ topic.topic_name }}</font>
                            </a>
                        </p>
                    </div>
                    <div class="info" align="left">
                        <p>Author: {{ topic.creator }}</p>
                        <p>Date: {{ topic.pub_date }}</p>
                        <p>Subscribers: {{ topic.subscriptions.count }}</p>
                    </div>
                    <div class="messages" align="center">
                        {% for msg in messages %}
                            {% if msg.topic.id  == topic.id %}
                                <p>{{ msg.message_content }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <p> No topics to display </p>
            {% endfor %}
        </div>
</div>


<div class="logout" align="center">
	<a href="/mainsite/messageboard/">Back</a>
    <a href="/mainsite/logout/">Logout</a>
</div>
</body>
</html>


