<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Message Board - All Topics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/tableview.css'%}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="page">
        <div class="Page Header" align="center">
            <h1> Message Board </h1>
        </div>
        <div class="navBar" align="left">
            <ul>
                <li><a href="userprofile/{{ user.id }}">Your Profile</a></li>
                <li><a href="viewinvites/{{ user.id }}">View Invites</a></li>
                <li><a href="{% url 'mainsite:create_group' %}">Create a Group</a></li>
                <li><a href="{% url 'mainsite:joined_groups' %}">My Joined Groups</a></li>
                <li><a href="{% url 'mainsite:join_group' %}">Join a Group</a></li>
                <li><a href="{% url 'mainsite:create_topic' %}">Create a Topic</a></li>
                <li><a href="{% url 'mainsite:subscribed_topics' %}">My Subscribed Topics</a></li>
            </ul>
        </div>
        <div class="allTopics" align="center">
            {% for topic in topics %}
                <div class="topicBox">
                    <div class="title">
                        <p>
                            <a href="{% url 'mainsite:topic' topic.id %}">
                                <font size="6" color="grey">{{ topic.topic_name }}</font>
                            </a>
                        </p>
                    </div>
                    <div class="info" align="left">
                        <p>Author: {{ topic.creator }}</p>
                        <p>Date: {{ topic.pub_date }}</p>
                        <p>Subscribers: {{ topic.subscriptions.count }}</p>
                    </div>
                    <div class="messages" align="left">
                        {% for msg in messages %}
                            {% if msg.topic.id  == topic.id %}
                                <div class="message">
                                    <p> {{msg.creator}} @ {{msg.pub_date|date:"M d g:i a"}}</p>
                                    <p>{{ msg.message_content }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="textbox" align="center">
                         <form id="new_message" action= "" method="post">
                            {% csrf_token %}
                            <input type="text" id="message_content" name="message_content" size="38" autocomplete="off" placeholder="Enter a message to chat..."/>
                            <input name="topic" type="HIDDEN" value="{{ topic.id }}"/>
                            <input type="SUBMIT" name="POST" value="Post" hidden="true"/>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p> No topics to display </p>
            {% endfor %}
        </div>
    </div>

    <div class="logout" align="center">
        <a href="{% url 'mainsite:logout_view' %}">Logout</a>
    </div>

    <script >
        $(function(){
            $("div.message:even").css("background-color", "#808080");
            $("div.message:odd").css("background-color", "#B0B0B0");
        });
    </script>
</body>
</html>
