{% extends 'base.html' %}

{% block content %}
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Message Board - All Topics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/tableview.css'%}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="page">
        <div class="allTopics" align="center">
            {% for topic in topics %}
                <div class="topicBox">
                    <div class="title">
                        <p>
                            <a href="{% url 'mainsite:topic' topic.id %}">
                                <font size="6" color="grey">{{ topic.topic_name }}</font>
                            </a>
                        </p>
                    </div>
                    {% if topic.id in subIDs %}
                        <div class="infoSubbed" align="left">
                    {% else %}
                        <div class="infoNotSubbed" align="left">
                    {% endif %}
                            <p>Author: <a href="{% url 'mainsite:userprofile' topic.creator.id %}" style="color: black;">{{topic.creator}}</a></p>
                            <p>Date: {{ topic.pub_date }}</p>
                            <p>Subscribers: {{ topic.subscriptions.count }}</p>
                            <form action="" Method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="topic_id" value="{{ topic.id }}"/>
                                {% if topic.id in subIDs %}
                                <input type="submit" name="POST_subscribe" value="Unsubscribe"/>
                                {% else %}
                                <input type="submit" name="POST_subscribe" value="Subscribe"/>
                                {% endif %}
                            </form>
                        </div>
                    <div class="messages" align="left">
                        {% for msg in messages %}
                            {% if msg.topic.id  == topic.id %}
                                <div class="message">
                                    <p> <a href="{% url 'mainsite:userprofile' msg.creator.id %}" style="color: black;">
                                    {{msg.creator}}</a><font size="1" color="grey">@ {{msg.pub_date|date:"M. d, g:i a"}}</font></p>
                                    <p>{{ msg.message_content }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="textbox" align="center">
                         <form id="new_message" action= "" method="post">
                            {% csrf_token %}
                            <input type="text" id="message_content" name="message_content" size="40" autocomplete="off" placeholder="Enter a message to chat..."/>
                            <input type="hidden" name="topic_id" value="{{ topic.id }}"/>
                            <input type="submit" name="POST_post" value="Post" hidden="true"/>
                        </form>
                    </div>
                </div>
            {% empty %}
                <div class="page-header" ><h2>No topics to display</h2></div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>
{% endblock %}