.messageBox{
	width: 410px;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
	overflow-y: auto;
	border: 0.5px solid grey;
}

.mymessage{
	background-color: pink;
	width: 100%;
}

.othermessage{
    width: 100%;
}

br{
    display: block;
    margin: 0px 0;
    line-height: 10px;
}