body {
    background: url("images/landingpage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo{
    min-width: 200px;
    width: 20%;
    min-height: 200px;
    height: 20%;
}

.links{
    float: right;
    margin-top: 1%;
    margin-right: 3%;
    top: 10%;
    font-size: 30px;
}

.product-header{
    clear: both;
    float: center;
    height: fill;
}

h1{
    font-size: 30px;
    font-family: "Rockwell";
    color: white;
    text-shadow: 2px 2px 3px black;
}

h2{

    font-size: 30px;
}
