.topicBox{
    float: left;
    width: 410px;
    height: 410px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    background-color: #F0F0FF;
}
.title{
    width: fill;
    height: 25%;
}
.infoNotSubbed {
    background-color: lightblue;
    float: left;
    width: 30%;
    height: 75%;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    padding: 8px;
    border-bottom-left-radius: 4px;
}
.infoSubbed {
    background-color: pink;
    float: left;
    width: 30%;
    height: 75%;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    padding: 8px;
    border-bottom-left-radius: 4px;
}
.messages{
    float: left;
    width: 70%;
    height: 68%;
    overflow-y: scroll;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    background-color: #FFFFFF;
}
.message{
    padding-left: 4px;
    word-wrap:break-word;
    border-bottom: 1px solid #E7E7E7; /* #C2C2C2 */
}
.textbox{
    float: left;
    width: 70%;
    height: 7%;
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px;
    padding: 0px;
}
.logout{
    clear: both;
}
.allTopics{
    float: left;
    width: auto;
}
.page-header{
    margin-left: 25%;
}
.groupinfo{
    float: left;
    width: 20%;
}
.navBar{
    float: left;
    width: 20%;
}
h1{
    text-align: center;
}
.container{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}