.topicBox{
	float: left;
	width: 410px;
	height: 410px;
    margin: 3px;
}
.title{
    background-color: #F0F0FF;
    width: fill;
	height: 25%;
	border-left: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}
.infoNotSubbed {
	background-color: lightblue;
	float: left;
	width: 30%;
	height: 75%;
	border: 1px solid #E7E7E7;
    margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.infoSubbed {
	background-color: pink;
	float: left;
	width: 30%;
	height: 75%;
	border: 1px solid #E7E7E7;
    margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.messages{
	float: left;
	width: 70%;
	height: 68%;
	overflow-y: scroll;
	border-top: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}
.textbox{
    float: left;
    width: 70%;
    height: 7%;
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    padding: 0px;
}
.logout{
	clear: both;
}
.allTopics{
	float: left;
	width: 80%;
}
.page-header{
	margin-left: 25%;
}
.groupinfo{
    float: left;
    width: 20%;
}
.navBar{
    float: left;
    width: 20%;
}
h1{
	text-align: center;
}
