<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ group.group_name }}</title>
</head>
<body>
<div id="header" align="center">
    <h2>{{ group.group_name }}</h2>
</div>

<div id="creator" align="center">
    <p>Administrator: {{ creator.user_profile }}</p>
	{% if creator.username == user.username %}
	<form action="" method="post">
		{% csrf_token %}
		<input type="SUBMIT" name="REMOVE" value="Delete Group">
		<p></p>
	</form>
    <form action="" method="POST">
        {% csrf_token %}
        Add Moderator: <input type="text" name="mod_name"/>
        <input type="submit" name="ADDMOD" value="Submit"/><p/>
    </form>
    {% endif %}
</div>

<div id="mods" align="center">
    <u>Moderators</u>
    {% for user in mods %}
        <p>{{ user.user_profile }}</p>
    {% empty %}
        <p> No moderators </p>
    {% endfor %}
</div>

<div id="users" align="center">
	<u>Members</u>
    {% for user in users %}
        <p>{{ user.user_profile }}</p>
    {% empty %}
        <p> No users in the group </p>
    {% endfor %}
</div>

<div class="page">
    <div class="allTopics" align="center">
        {% for topic in topics %}
            <div class="topicBox">
                <div class="title">
                    <p>
                        <a href="{% url 'mainsite:topic' topic.id %}">
                            <font size="6" color="grey">{{ topic.topic_name }}</font>
                        </a>
                    </p>
                </div>
                <div class="info" align="left">
                    <p>Author: {{ topic.creator }}</p>
                    <p>Date: {{ topic.pub_date }}</p>
                    <p>Subscribers: {{ topic.subscriptions.count }}</p>
                </div>
                <div class="messages" align="left">
                    {% for msg in messages %}
                        {% if msg.topic.id  == topic.id %}
                            <div class="message">
                                <p> {{msg.creator}} @ {{msg.pub_date|date:"M d g:i a"}}</p>
                                <p>{{ msg.message_content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p> No topics to display </p>
        {% endfor %}
    </div>
</div>


<div id="logout" align="center">
	<a href="/mainsite/messageboard/">Back</a>
    <a href="/mainsite/logout/">Logout</a>
</div>
</body>
</html>