{% extends 'base.html' %}

{% block content %}
<div id="header" align="center">
    <!--<p>{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}</p>
    <img src="{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}">-->
    <div class="page-header" ><h2>{{ group.group_name }}</h2></div>
</div>

<div id="info" align="center">
    <p>Invite Users</p>
</div>

<div id="users" align="center">
    {% for user in users %}
        {% if user not in group.user_set.all %}
            <a href="/mainsite/messageboard/group/{{ group.id }}/inviteuser/confirmation/{{ user.id }}">    <button type="button" class="btn btn-default">
                  {{ user.user_profile }}
                </button>
            </a> 
            <br>
        {% endif %}
    {% empty %}
        <p> No users to invite! </p>
    {% endfor %}
</div>

{% endblock %}