{% extends 'base.html' %}

{% block content %}

{% load bootstrap_themes %}
{% bootstrap_styles theme='lumen' type='css' %}
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{{ group.group_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/tableview.css'%}"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="header" align="center">
        <!--<p>{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}</p>
        <img src="{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}">-->
        <div class="page-header" ><h2>{{ group.group_name }}</h2></div>
    </div>
    <div class=groupinfo>
        <div id="creator" align="center">
            <p>Administrator: <b>{{ creator.user_profile }}</b></p>
            {% if creator.username == user.username %}
                <form action="" method="POST">
                    {% csrf_token %}
                    Add Moderator: <input type="text" name="mod_name"/>
                    <input type="submit" name="ADDMOD" value="Submit" class="btn btn-default"/><p/>
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="SUBMIT" name="INVITE" value="Invite Users" class="btn btn-default">
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="SUBMIT" name="REMOVE" value="Delete Group" class="btn btn-default">
                </form>

            {% endif %}<br>
        </div>
        <div id="mods" align="center">
            <u>Moderators</u>
            {% for user in mods %}
                <p>{{ user.user_profile }}</p>
            {% empty %}
                <p> No moderators </p>
            {% endfor %}
        </div>

        <div id="users" align="center">
            <u>Members</u>
            {% for user in users %}
                <p>{{ user.user_profile }}</p>
            {% empty %}
                <p> No users in the group </p>
            {% endfor %}
        </div>
    </div>
    <div class="allTopics" align="center">
        {% for topic in topics %}
            <div class="topicBox">
                <div class="title">
                    <p>
                        <a href="{% url 'mainsite:topic' topic.id %}">
                            <font size="6" color="grey">{{ topic.topic_name }}</font>
                        </a>
                    </p>
                </div>
                <div class="infoNotSubbed" align="left">
                    <p>Author: <a href="{% url 'mainsite:userprofile' topic.creator.id %}" style="color: black;">{{topic.creator}}</a></p>
                    <p>Date: {{ topic.pub_date }}</p>
                    <p>Subscribers: {{ topic.subscriptions.count }}</p>
                </div>
                <div class="messages" align="left">
                    {% for msg in messages %}
                        {% if msg.topic.id  == topic.id %}
                            <div class="message">
                                <p> <a href="{% url 'mainsite:userprofile' msg.creator.id %}" style="color: black;">
                                    {{msg.creator}}</a> @ <font size="1" color="grey">{{msg.pub_date|date:"M d g:i a"}}</font></p>
                                <p>{{ msg.message_content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="textbox" align="center">
                    <form id="new_message" action= "" method="post">
                       {% csrf_token %}
                       <input type="text" id="message_content" name="message_content" size="40" autocomplete="off" placeholder="Enter a message to chat..."/>
                       <input type="hidden" name="topic_id" value="{{ topic.id }}"/>
                       <input type="submit" name="POSTMSG" value="Post" hidden="true"/>
                    </form>
                </div>
            </div>
        {% empty %}
            <p> No topics to display </p>
        {% endfor %}
    </div>
</body>
{% endblock %}