{% extends 'base.html' %}

{% block content %}
<div id="header" align="center">
    <!--<p>{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}</p>
    <img src="{{MEDIA_URL}}avatars/{{ user.get_profile.avatar }}">-->
    <div class="page-header" ><h2>Join an existing group: </div>
</div>

<div class="page-header" >
    {% for group in groups %}
        <h3> {{ group.group_name }} </h3>
        <form action="" method="post">
            {% csrf_token %}
            <p> 
                <input type="HIDDEN" name="group_name" id="the_request" value="{{ group.group_name }}"/>
                <input type="text" name="group_password" placeholder="enter group password" /> 
                <input type="SUBMIT" value="Join" class="btn btn-default">
            </p>
        </form>
    {% empty %}
        <p> No groups. </p>
    {% endfor %}
</div>

{% endblock %}